{% extends "layout.html.twig" %}

{% block content %}
    
    {% if error is defined and error|length > 0 %}
        
    <div class="container error-list">    
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    </div>
    {% endif %}
    
	{% for post in posts %}
		<div class="row post">
	        <div class="col-lg-12">
	        	<p> {{post.title}} </p>
	        	<p>
	        		<img src="{{post.image}}">
	        	</p>
	        </div> 
		</div>
	{% endfor %}
{% endblock %}
