<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Insided app</title>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('js/main.js') }}"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">

            <div class="row header">
                <div class="col-lg-4">
                    <bold>Posts:</bold> <span id="numPosts"></span>
                </div>

                 <div class="col-lg-4">
                    <a href="/export" target="_blank" class="btn btn-default btn-success">Export to CSV</a>
                </div>

                 <div class="col-lg-4">
                     <bold>Views: </bold><span id="numViews"></span>
                </div>
            </div>

             <div class="row newpostbar">
                 <form method="POST" enctype="multipart/form-data">
                    <div class="col-lg-12">
                        <label> Title photo: </label>
                        <input type="text" name="imageTitle" class="newTitle">
                    </div>
                    <div class="col-lg-6">
                        <input type="file" name="pic" accept="image/*">
                    </div>
                    <div class="col-lg-6">
                        <input class="btn btn-default btn-success" type="submit" value="Enviar post">
                    </div>
                </form>
            </div>
        </div>

        <div class="container listPosts">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
